html, body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

/**************************/
/*       Navigation       */
/**************************/

#navigation {
    display: block;
    background: black;
    color: white;

}

/* Omdat we floats hebben in onze navigatie, zorgen we voor een clear-fix*/
#navigation:after {
    content: ' ';
    clear: both;
    display: block;
}

#navigation a{
    display: block;
    font-weight: bold;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
}

#navigation-home {
    display: block;
    float: left;
}

#navigation-menu {
    display: flex; /* Flex-box! */
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#navigation-menu > li {
    border-right: 1px solid #ddd;
    display: block;
}

#navigation-menu > li:hover,
#navigation-menu > li:active,
#navigation-menu > li:focus {
    background: #e7e7e7;
}

#navigation-menu > li:last-child {
    border-right: none;
}

#navigation-toggle {
    background: rgba(255, 255, 255, 0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
    background-size: 80%;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: .7em;
    text-indent: 200%;
    top: .7em;
    transition: all 400ms ease;
    width: 30px;
}

#navigation.open #navigation-toggle {
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 1);
}

#navigation-toggle {
    display: none;
}

article {
    padding: 0 30px 15px;
}

@media (max-width: 800px) {
    #navigation-home {
        float: none;
    }

    #navigation-menu {
        background: #eee;
        color: #000;
        display: none;
        position: fixed;
        top: 3em;
        left: 0;
        bottom: 0;
        overflow: auto;
        width: 100%;
    }

    #navigation.open #navigation-menu{
        display: block;
    }

    #navigation-menu > li {
        display: block;
        border: 0;
        border-bottom: 1px solid #ddd;
        width: auto;
    }

    #navigation-toggle {
        display: block;
    }
}
